<head>

</head>
  <app-nav></app-nav>
 
  
      
      
      
        
        <router-outlet></router-outlet>


        <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  
  <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p>&copy; 2022 Company, Inc. All rights reserved.</p>
    <ul class="list-unstyled d-flex">
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
      <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      <!-- Facebook -->


<!-- Linkedin -->
<a class="btn btn-primary" style="background-color: #0082ca;" href="https://www.linkedin.com/in/%C3%B6mer-at%C4%B1l%C4%B1m-koca-4965331b3/" role="button" target="_blank"
><i class="fab fa-linkedin-in"></i
></a>





<!-- Github -->
<a class="btn btn-primary" style="background-color: #333333;" href="https://github.com/atilimkoca" role="button" target="_blank"
><i class="fab fa-github"></i
></a>

      </ul>
  </div>
  
</div>
<!-- End of .container -->
      



